.lang {
  margin: 10px 0;
  display: flex;

  .info_lan {
    display: flex;
    width: 50%;
    height: 250px;
    border-radius: 50px 0 0 50px;
    padding: 60px 40px;
    background-color: #1b1b1f;
    color: #a5a1ff;
    gap: 30px;
    place-items: center;

    .infos {
      width: 65%;
    }
    .infos_icon {
      font-size: 30px;
    }
  }
  .my_infos {
    display: flex;
    width: 50%;
    height: 250px;
    right: 10px;
    place-items: center;
    justify-content: center;
    background-color: #a5a1ff;
    border-radius:0 50px 50px 0;

    padding: 60px 40px;
    text-align: center;
    color: #1b1b1f;

    .title {
      font-size: 50px;
      font-weight: 500;
    }
  }
}
@media screen and (max-width: 600px) {
  .lang{

    .info_lan{
      width: 100%;
      border-radius: 50pxn;
    }
    .my_infos{
      display: none;
    }
  }
}
